* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: .875rem;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.app-wrap {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 2rem;
}

.app-wrap h1 {
    margin-bottom: 1rem;
    color: rgb(54, 54, 54);
}

form {
    display: flex;
    flex-direction: column;
    gap: .875rem;
}

form button {
    border: none;
    background: #333;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

label {
    font-weight: 600;
}

input {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 10px;
    border: 1px solid lightgray;
    font: 16px "Inter",sans-serif;
}

.result {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.result div {
    width: 100%;
    border: 1px solid #000;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}